useDynLib(svd)

export(
       # External matrix stuff
       is.extmat,
       extmat.ncol,
       extmat.nrow,
       extmat,
       # Propack SVD
       propack.svd,
       # nuTRLan SVD and eigensolver
       trlan.svd,
       trlan.eigen)
